html, body{
  height:100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 110;
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0px;
    padding: 1%;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

.MainApp {
	height: 100vh;
}

.SlideView {
	top: 5%;
	height: 90%;
	width: 95%;
	margin: auto;
	position: relative;
	box-shadow: 0 5px 8px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.24);
}

.SlideContent {
	top: 5%;
	height: 90%;
	width: 95%;
	margin: auto;
	position: relative;
}

.TitleView {
	top: 40%;
	position: relative;
}

.QuoteView {
	top: 20%;
	margin: auto;
	text-align: center;
	position: relative;
}

.QuoteView > h3 {
	font-style: italic;
}

.ImageView {
	text-align: center;
}

.ImageView > h2 {
	text-align: left;
}

.ImageView > img {
	max-width: 60%;
}

.ListView > ul > li {
	margin-bottom: 25px;
}

.ImageList {
	height: 100%;
}

.ImageList > .TwoColumn{
	display: flex;
	width: 100%;
}

.ImageList > .TwoColumn >.ColumnLeft {
	width: 50%;
	float: left;
}

.ImageList > .TwoColumn >.ColumnLeft > ul > li {
	margin-bottom: 25px;
}

.ImageList > .TwoColumn >.ColumnRight {
	width: 50%;
	float: right;
	text-align: center;
}

.ImageList > .TwoColumn > .ColumnRight > img {
	max-width: 90%;
}

.dark{
	background-color: #112236;
	color: #F3F3F3;
}

.light{
	background-color: #F3F3F3;
	color: #112236;
}