html, body{
  height:100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 110;
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0px;
    padding: 1%;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

.MainApp {
	height: 100vh;
}

.StartPage {
	height: 100vh;
}

.StartPage > .SlideView > .SlideContent > .TitleView > a{
	margin-left: 1%;
}

.StartPage > .SlideView > .SlideContent > .TitleView{
	top: 15%;
}

.themeSelect {
	margin-left: 1%;
}

.SlideView {
	top: 5%;
	height: 90%;
	width: 95%;
	margin: auto;
	position: relative;
	box-shadow: 0 5px 8px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.24);
}

.SlideContent {
	background: transparent !important; 
	top: 10%;
	height: 80%;
	width: 85%;
	margin: auto;
	position: relative;
}

.TitleView {
	top: 40%;
	position: relative;
}

.QuoteView {
	top: 20%;
	margin: auto;
	text-align: center;
	position: relative;
}

.QuoteView > h3 {
	font-style: italic;
}

.ImageView {
	text-align: center;
}

.ImageView > h2 {
	text-align: left;
}

.ImageView > img {
	max-width: 60%;
}

.ListView > ul > li {
	margin-bottom: 25px;
}

.ImageList {
	height: 100%;
}

.ImageList > .TwoColumn{
	display: flex;
	width: 100%;
}

.ImageList > .TwoColumn >.ColumnLeft {
	width: 50%;
	float: left;
}

.ImageList > .TwoColumn >.ColumnLeft > ul > li {
	margin-bottom: 25px;
}

.ImageList > .TwoColumn >.ColumnRight {
	width: 50%;
	float: right;
	text-align: center;
}

.ImageList > .TwoColumn > .ColumnRight > img {
	max-width: 50%;
}

.dark{
	background-color: #112236;
	color: #F3F3F3;
}

.dark > * > hr{
	border-top: 1px solid #F3F3F3;
}

.light{
	background-color: #F3F3F3;
	color: #112236;
}

.light > * > hr{
	border-top: 1px solid #112236;
}

.yellow{
	background-image: url("../assets/bg1.png");
	color: black;
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.yellow > * > hr{
	border-top: 1px solid black;
}

.blue{
	background-image: url("../assets/bg2.png");
	color: white;
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.blue > * > hr{
	border-top: 1px solid white;
}

.black{
	background-image: url("../assets/bg3.png");
	color: white;
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.black > * > hr{
	border-top: 1px solid white;
}